# Python virtual environments
env/
venv/
.venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Database
*.sqlite3

# Static files
static/
media/

# Log files
*.log