{% extends 'base.html' %}

{% block title %} My Orders {% endblock %}
{% include "includes/messages.html"%}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center text-primary mb-4">My Orders</h1>
        {% if orders %}
            <div class="list-group">
                {% for order in orders %}
                    <div class="list-group-item">
                        <p><strong>Order ID:</strong> {{ order.id }}</p>
                        <p><strong>Status:</strong> <span class="badge {% if order.order_status == 'Pending' %}bg-warning{% elif order.order_status == 'Shipped' %}bg-info{% elif order.order_status == 'Delivered' %}bg-success{% elif order.order_status == 'Cancelled' %}bg-danger{% endif %}">{{ order.order_status }}</span></p>
                        <p><strong>Total:</strong> ${{ order.total }}</p>
                        <a href="{% url 'track_order' order.id %}" class="btn btn-outline-primary btn-sm">Track Order</a>
                        {% if order.order_status not in non_cancellable_statuses %}
                        <form action="{% url 'cancel_order' order.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Cancel Order</button>
                        </form>
                    {% endif %}
                    {% if order.order_status == "Delivered" %}
                        <a href="{% url 'request_refund' order.id %}" class="btn btn-warning btn-sm">Request Refund</a>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center text-muted">No orders found.</p>
        {% endif %}
    </div>

{% endblock %}